body { background-color: #F1F2F6; }
table > thead > tr > td,
table > tbody > tr > td { text-align: center!important; vertical-align: middle!important; }

table tbody tr { height: 55px; }
table tbody tr .actions { width: 100px; }
table tbody tr .activity { width: 200px; }
table tbody tr .actions button,
table tbody tr .activity a { display: none; }
table tbody tr:hover { background-color: #d9edf7; }
table tbody tr:hover .actions button,
table tbody tr:hover .activity a { display: inline; }


#wrapper {
    margin-top: 80px;
}
#ajax-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    height: 128px;
    width: 128px;
    z-index: 1050;
    display: none;
}
/*------------------------------*/
#addDiscipline {
    margin: 15px 0;
}
#btn-save {
    padding: 10px 16px;
    padding-bottom: 9px;
    margin-right: -3px;
    font-size: 21px;
    margin-top: -2px;
}
#alert-save {
    margin-bottom: 0;
    padding: 16px;
}

#modalSuccess > .modal-dialog > .modal-content > .modal-header {
    padding: 10px 15px;
}
#modalSuccess > .modal-dialog > .modal-content > .modal-body {
    padding: 15px;
}
.panel-default > .panel-heading { background-color: #AAB2BD; font-weight: bold; }

.clear-both { clear: both; margin: 0; }
.well { border-radius: 0 0 4px 4px; }
#add_record_btn { margin: 5px; }