<ul class="nav nav-tabs">
    <li class="active"><a href="#departamentsTableContainer" data-toggle="tab">Справочник кафедр</a></li>
    <li><a href="#disciplinesTableContainer" data-toggle="tab">Справочник дисциплин</a></li>
    <li><a href="#groupsTableContainer" data-toggle="tab">Справочник учебных групп</a></li>
    <li><a href="#teachersTableContainer" data-toggle="tab">Справочник преподавателей</a></li>
</ul>

<div class="tab-content well">
    <div class="tab-pane active" id="departamentsTableContainer"></div>
    <div class="tab-pane" id="disciplinesTableContainer"></div>
    <div class="tab-pane" id="groupsTableContainer"></div>
    
    <!-- Доделать редактор по преподавателям -->
    <div class="tab-pane" id="teachersTableContainer">
        <div id="teachersTable-edit-form" title="Редактирование записи">
            <form id="jtable-edit-form" class="jtable-dialog-form jtable-edit-form">
                <input name="id" type="hidden" id="edit-id">
                <div class="jtable-input-field-container">
                    <div class="jtable-input-label">ФИО преподавателя</div>
                    <input type="text" name="name" id="edit-name" class="text ui-widget-content ui-corner-all" style="width: 290px;">
                </div>
                <div class="jtable-input-field-container">
                    <div class="jtable-input-label">Факультет</div>
                    <select name="departament" id="edit-departament" class="text ui-widget-content ui-corner-all" style="width: 290px;">
                        <option value="-1" selected>Нет значений...</option>
                    </select>
                </div>
                <div class="jtable-input-field-container">
                    <div class="jtable-input-label">Возможные дисциплины</div>  
                    <select name="disciplines[]" id="edit-disciplines" class="text ui-widget-content ui-corner-all" multiple="multiple" style="width: 290px;">
                        <option value="-1" selected>Нет значений...</option>
                    </select>
                </div>
            </form>
        </div>
        <div id="teachersTable-delete-form" title="Вы уверены?">
            <p>
                <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
                Удалить запись?
            </p>
        </div>
        <div class="jtable-main-container">
            <div class="jtable-busy-panel-background jtable-busy-panel-background-invisible"></div>
            <div class="jtable-title">
                <div class="jtable-title-text">Учебные группы</div>
                <div class="jtable-toolbar">
                    <span class="jtable-toolbar-item jtable-toolbar-item-add-record">
                        <span class="jtable-toolbar-item-icon"></span>
                        <span class="jtable-toolbar-item-text">Добавить</span>
                    </span>
                </div>
            </div>
            <table class="jtable">
                <thead>
                    <tr>
                        <th class="jtable-column-header">
                            <div class="jtable-column-header-container">
                                <span class="jtable-column-header-text">Ф.И.О. преподавателя</span>
                            </div>
                        </th>
                        <th class="jtable-column-header">
                            <div class="jtable-column-header-container">
                                <span class="jtable-column-header-text">Факультет</span>
                            </div>
                        </th>
                        <th class="jtable-column-header">
                            <div class="jtable-column-header-container">
                                <span class="jtable-column-header-text">Возможные дисциплины</span>
                            </div>
                        </th>
                        <th class="jtable-command-column-header" style="width: 1%;"></th>
                        <th class="jtable-command-column-header" style="width: 1%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="jtable-data-row jtable-row-even" data-record-key="1">
                        <td>Иванов И.И.</td>
                        <td>Факультет 1</td>
                        <td>ООП, БД</td>
                        <td class="jtable-command-column">
                            <button title="Изменить" class="jtable-command-button jtable-edit-command-button">
                                <span>Изменить</span>
                            </button>
                        </td>
                        <td class="jtable-command-column">
                            <button title="Удалить" class="jtable-command-button jtable-delete-command-button">
                                <span>Удалить</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
