<?include $_SERVER['DOCUMENT_ROOT'] . '/modules/report_teachers.php';?>

<div class="modal fade" id="modal-discipline-teachers" tabindex="-1" role="dialog"
     aria-labelledby="modal-discipline-label-teachers" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-discipline-label">PHP2Excel. Добавить дисциплину</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="-1" id="add_change_index">

                <div class="form-group">
                    <label>Название дисциплины</label>
                    <select class="form-control" id="DISCIPLINE_NAME">
                        <option value="-1">не выбрано</option>
                        <?foreach($disciplines as $item)
                            echo "<option value='" . $item['id'] . "'>" . $item['name'] . "</option>";?>
                    </select>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Информация о группе
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Группа</label>
                                <select class="form-control input-sm" id="group_teachers">
                                    <option value="-1">не выбрано</option>
                                    <?foreach($groups as $item)
                                        echo "<option value='" . $item['id'] . "'>" . $item['name'] . "</option>";?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Курс</label>
                                <input type="text" class="form-control input-sm" id="course-teachers">
                            </div>
                            <div class="col-md-4">
                                <label>Кол-во человек</label>
                                <input type="text" class="form-control input-sm" id="count-teachers">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Полугодие</label>
                            <select class="form-control input-sm" id="halfyear-teachers">
                                <option value="1">первое полугодие</option>
                                <option value="2">второе полугодие</option>
                            </select>
                        </div>
                        <label>Количество часов на</label>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" placeholder="лекции" id="lectures">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" placeholder="практич." id="practical">
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-sm" placeholder="лаборат." id="laboratory">
                            </div>
                        </div>
                        <br>
                        <a href="#" class="btn btn-default btn-sm pull-right" id="add-to-list">Добавить в список</a>
                        <a href="#" class="btn btn-default btn-sm pull-right" id="change-to-list" style="display: none;">Изменить</a>
                        <a href="#" class="btn btn-default btn-sm pull-right" id="cancel-change" style="display: none;">Отмена</a>
                    </div>
                </div>
                <div class="form-group">
                    <label>Список предметов</label>
                    <select multiple size="10" class="form-control" id="discipline-list"></select>
                </div>
                <a href="#" class="btn btn-default btn-sm pull-right" id="delete-element">Удалить из списка</a>
                <a href="#" class="btn btn-default btn-sm pull-right" id="change-element">Изменить</a>
                <p class="clear-both"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm" data-dismiss="modal" id="close_teachers_modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-sm" id="apply_teachers_modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>