<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-search-label">PHP2Excel. Поиск</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Критерии поиска</label>
                    <select class="form-control" id="search-criterion">
                        <option value="-1">не выбрано</option>
                        <option value="0">по преподавателям</option>
                        <option value="1">по дисциплинам</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Список преподавателй/дисциплин</label>
                    <select class="form-control" id="search-list">
                        <option value="-1">выберите преподавателя/дисциплину</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Результаты поиска</label>
                    <select multiple size="10" class="form-control" id="search-result"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Выход</button>
            </div>
        </div>
    </div>
</div>