<div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="modal-about-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-about-label">PHP2Excel. О приложении</h4>
            </div>
            <div class="modal-body">
                <!--TODO(developer): добавить информацию о приложении-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>