<? include $_SERVER['DOCUMENT_ROOT'] . '/modules/report_academic.php'; ?>

<div class="modal fade" id="modal-discipline" tabindex="-1" role="dialog"
     aria-labelledby="modal-discipline-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modal-discipline-label">Добавить дисциплину</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" value="-1" id="add_change_index">

                <div class="form-group">
                    <label>Название дисциплины</label>
                    <select class="form-control" id="DISCIPLINE_NAME">
                        <option value="-1">Не выбрано</option>
                        <?foreach ($disciplines as $discipline)
                            echo "<option value='" . $discipline['id'] . "'>" . $discipline['name'] . "</option>";?>
                    </select>
                </div>
                <div class="form-group">
                    <label>Форма контроля</label>
                    <select multiple class="form-control" id="FORM_CONTROL" size="5">
                        <!--<option value="-1">Не выбрано</option>-->
                        <option value="1">Экзамен</option>
                        <option value="2">Зачет</option>
                        <option value="3">Дифф. зачет</option>
                        <option value="4">Курсовая работа</option>
                        <option value="5">Курсовой проект</option>
                    </select>
                </div>

                <label>Количество часов по уч.плану</label>

                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="LECTURES" placeholder="на лекции">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="PRACTICAL_WORK" placeholder="на практические">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="LABORATORY_WORK" placeholder="на лабораторные">
                    </div>
                </div>
                <br/>
                <label>Часов в неделю</label>

                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="LECTURES_TOTAL_HOURS" placeholder="на лекции">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="PRACTICAL_WORK_TOTAL_HOURS"
                               placeholder="на практические">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="LABORATORY_WORK_TOTAL_HOURS"
                               placeholder="на лабораторные">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" id="close_discipline_modal">
                    Отмена
                </button>
                <button type="button" class="btn btn-primary btn-sm" id="apply_discipline_modal">
                    Применить
                </button>
            </div>
        </div>
    </div>
</div>