<legend>Список отчетов:</legend>
<div class="list-group">
    <?
    if($handle = opendir('./reports'))
    {
        while(false !== ($file = readdir($handle)))
        {
            if($file != "." && $file != "..")
            {
                if(preg_match('/academic_report_/', $file))
                {
                    preg_match('/academic_report_([0-9_]*)/', $file, $matches, PREG_OFFSET_CAPTURE);
                    $arCreateDateTime = explode('_', $matches[1][0]);
                    $createDateTime =    $arCreateDateTime[2] . "/"
                    .  $arCreateDateTime[1] . "/"
                    .  $arCreateDateTime[0] . " "
                    .  $arCreateDateTime[3] . ":"
                    .  $arCreateDateTime[4] . ":"
                    .  $arCreateDateTime[5];
                    echo "<a href='/reports/$file' class='list-group-item'>
                    <span class='badge badge-info'>Дата создания: $createDateTime</span>
                    <strong>График по аудиторной нагрузке</strong> ($file)</a>";
                }
                if(preg_match('/teacher_report_/', $file))
                {
                    preg_match('/teacher_report_([0-9_]*)/', $file, $matches, PREG_OFFSET_CAPTURE);
                    $arCreateDateTime = explode('_', $matches[1][0]);
                    $createDateTime = $arCreateDateTime[2] . "/"
                    . $arCreateDateTime[1] . "/"
                    . $arCreateDateTime[0] . " "
                    . $arCreateDateTime[3] . ":"
                    . $arCreateDateTime[4] . ":"
                    . $arCreateDateTime[5];
                    echo "<a href='/reports/$file' class='list-group-item'>
                    <span class='badge badge-info'>Дата создания: $createDateTime</span>
                    <strong>График по педагогич. нагрузке</strong> ($file)</a>";
                }
            }
        }
        closedir($handle);
    }
    ?>
</div>