<?include $_SERVER['DOCUMENT_ROOT'] . '/modules/report_teachers.php';?>

<legend>График по педагогической нагрузке</legend>
<form role="form" method="post">
    <div class="col-md-12">
        <div class="form-group">
            <label>Кафедра</label>
            <select class="form-control" id="department">
                <option value="-1">Не выбрано</option>
                <?foreach($departaments as $item)
                    echo "<option value='" . $item['id'] . "'>" . $item['name'] . "</option>";?>
            </select>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Список предметов
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-default" id="show-modal-add-discipline-teachers">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Добавить
                    </a>
                    <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="glyphicon glyphicon-plus-sign"></span>-->
                        <!--Добавить <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#" data-toggle="modal"-->
                               <!--data-backdrop="false" data-target="#appModal">-->
                            <!--Добавить из базы данных-->
                        <!--</a></li>-->
                        <!--<li><a href="#" id="show-modal-add-discipline-teachers">-->
                            <!--Добавить вручную-->
                        <!--</a></li>-->
                    <!--</ul>-->
                </div>
                <p class="clear-both"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td rowspan="2">#</td>
                        <td rowspan="2">Название предмета</td>
                        <td colspan="4">Информация о группе</td>
                        <td colspan="3">Кол-во часов</td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>группа</td>
                        <td>курс</td>
                        <td>кол-во чел.</td>
                        <td>полугодие</td>
                        <td>лекции</td>
                        <td>практич.</td>
                        <td>лаборат.</td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a href="#" id="save_teachers_report" class="btn btn-info pull-right">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Создать отчет
        </a>
    </div>
</form>

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalSuccessLabel">Отчет успешно сформирован!</h4>
            </div>
            <div class="modal-body">
                <a id="download-link" href="#" class="btn btn-success pull-right">Скачать</a>
                <br style="clear: both">
            </div>
        </div>
    </div>
</div>