<!--TODO(developer): реализовать сохранение черновика -->
<!--TODO(developer): реализовать формирование отчета-->
<!--TODO(developer): сделать проверку на пустоту и корректность данных в самом отчете и форме добавления/изменения дисциплины-->
<!--TODO(developer): при добавлении нового предмета берутся данные из уже добавленного, устранить-->


<?include $_SERVER['DOCUMENT_ROOT'] . '/modules/report_academic.php';?>

<form role="form" method="post">
    <div class="col-md-12">
        <div class="form-group">
            <label>Группа</label>
            <select class="form-control" id="group">
                <option value="-1">Не выбрано</option>
                <?foreach($groups as $item)
                    echo "<option value='" . $item['id'] . "'>" . $item['name'] . "</option>";?>
            </select>
        </div>
        <div class="form-group">
            <label>Направление</label>
            <input type="text" class="form-control" id="direction">
        </div>
        <div class="form-group">
            <label>Профиль</label>
            <input type="text" class="form-control" id="profile">
        </div>

        <div class="row">
            <div class="col-md-3">
                <label>Курс</label>
                <input type="text" class="form-control" id="course">
            </div>
            <div class="col-md-3">
                <label>Семестр</label>
                <input type="text" class="form-control" id="semester">
            </div>
            <div class="col-md-3">
                <label>Полугодие</label>
                <select class="form-control" id="half_year">
                    <option value="1">Первое полугодие</option>
                    <option value="2">Второе полугодие</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Кол-во часов в неделю</label>
                <input type="text" class="form-control" id="hours_per_week">
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                Список предметов
                <a href="#" id="show-modal-add-discipline-academic" class="btn btn-default pull-right">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Добавить
                </a>
                <p class="clear-both"></p>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td rowspan="2">#</td>
                        <td rowspan="2">Название предмета</td>
                        <td colspan="3">Кол-во часов уч.плану</td>
                        <td colspan="3">Часов в неделю</td>
                        <td rowspan="2">Форма контроля</td>
                        <td rowspan="2"></td>
                    </tr>
                    <tr>
                        <td>лекции</td>
                        <td>практич.</td>
                        <td>лаборат.</td>
                        <td>лекции</td>
                        <td>практич.</td>
                        <td>лаборат.</td>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <a href="#" id="save_academic_report" class="btn btn-info">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Создать отчет
        </a>
    </div>
</form>

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccessLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modalSuccessLabel">Отчет успешно сформирован!</h4>
            </div>
            <div class="modal-body">
                <a id="download-link" href="" class="btn btn-success pull-right">Скачать</a>
                <br style="clear: both">
            </div>
        </div>
    </div>
</div>